.parent {
    color: red;
}
h1 {
    font-size: 80px;
}
h1:first-letter {
    font-size: 110px;
    color: #bbbbbb;
}
.text {
    color: green;
    line-height: 25px;
    font-size: 18px;
}

#list {
    color: green;
    margin-top: 20px;
}

.text-2 {
    text-decoration: underline;
}
.text-1 {
    font-size: 30px;
    line-height: 40px;
    padding-left: 30px;
}
.text-1:first-letter {
    color: yellow;
    font-size: 35px;
}